.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Color of the draggable scrollbar area */
    border-radius: 12px;        /* Rounded corners */
    border: 3px solid darkgrey;  /* Border around the draggable area */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #464b54;        /* Color of the track */
    border-radius: 10px;        /* Rounded corners of the track */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;     
    height: 10px;           /* Width of the scrollbar */
}

.custom-scrollbar {
    scrollbar-width: thin;      /* For Firefox */
    scrollbar-color: darkgrey #ffffff; /* For Firefox, scrollbar-color: thumb track; */
}

.scale-in {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
  }
  
  .scale-out {
    transform: scale(0);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }